<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Conexión a SQLite -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:mascotitas.db</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        

        <!-- Usuario y contraseña no se requieren con SQLite -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Entidades -->
        <mapping class="com.mascotitas.model.Cliente"/>
        <mapping class="com.mascotitas.model.Mascota"/>
        <mapping class="com.mascotitas.model.Tarjeta"/>
        <mapping class="com.mascotitas.model.Veterinario"/>
        <mapping class="com.mascotitas.model.Asistente"/>
        <mapping class="com.mascotitas.model.Gerente"/>
        <mapping class="com.mascotitas.model.Paquete"/>
        <mapping class="com.mascotitas.model.Cita"/>

    </session-factory>
</hibernate-configuration>
